# local zsh files
zsh/.cache/*
zsh/.zsh_history
zsh/.zcompdump

.DS_Store

*.log
backup.conf
.last_backup.txt
.last_tm_backup.txt
.last_local_tm_backup.txt
karabiner/karabiner.symlink/*
!karabiner/karabiner.symlink/karabiner.json
