[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
  branch = master
[submodule "zsh/plugins/pure"]
	path = zsh/plugins/pure
	url = https://github.com/sindresorhus/pure
  branch = main
