"*":
  "exception-reporting":
    userId: "1c55a852-c707-9d50-af21-7175ee744d0e"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    invisibles: {}
    showIndentGuide: true
    tabType: "soft"
    fontSize: 13
    fontFamily: "Monaco"
  "one-dark-ui":
    layoutMode: "Compact"
  tabs:
    usePreviewTabs: true
  "autoclose-html": {}
  "fuzzy-finder": {}
  "find-and-replace":
    scrollToResultOnLiveSearch: true
  "markdown-preview": {}
