snippet "detail" "collapsable section" r
<details>
<summary>${1:click here}</summary>
$0
</details>
endsnippet

snippet "coll" "collapsable section" r
<details>
<summary>${1:click here}</summary>
$0
</details>
endsnippet

snippet "sup" "footnote" r
<sup>[$1](#$0)</sup>
endsnippet
