snippet bash "#!/usr/bin/env bash" b
#!/usr/bin/env bash

set -o errexit
set -o nounset
set -o pipefail

# To debug, uncomment:
# set -o xtrace
$0
endsnippet

snippet set "set shell options" b
set -o errexit
set -o nounset
set -o pipefail

# To debug, uncomment:
# set -o xtrace
endsnippet
