<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>me.klappradla.backup</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/Max/dotfiles/bin/backup</string>
    </array>
    <key>StartInterval</key>
    <!-- <integer>901</integer> -->
    <integer>20</integer>
		<key>StandardOutPath</key>
    <string>/private/tmp/backup.log</string>
    <key>StandardErrorPath</key>
    <string>/private/tmp/backup_error.log</string>
  </dict>
</plist>
