<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>me.klappradla.backup</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/Max/dotfiles/backups/backup_daily.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
      <key>Hour</key>
      <integer>0</integer>
      <key>Minute</key>
      <integer>0</integer>
    </dict>
    <key>StartCalendarInterval</key>
    <dict>
      <key>Hour</key>
      <integer>12</integer>
      <key>Minute</key>
      <integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/Max/dotfiles/backups/log/backup.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/Max/dotfiles/backups/log/backup.log</string>
    <key>Debug</key>
    <true/>
  </dict>
</plist>
