"*":
  "autoclose-html": {}
  core:
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "Monaco"
    fontSize: 15
    invisibles: {}
    showIndentGuide: true
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "1c55a852-c707-9d50-af21-7175ee744d0e"
  "find-and-replace":
    scrollToResultOnLiveSearch: true
  "fuzzy-finder": {}
  "markdown-preview": {}
  "one-dark-ui":
    layoutMode: "Compact"
  tabs:
    usePreviewTabs: true
  "tree-view": {}
  welcome:
    showOnStartup: false
